bin/
*.o
src/ex2/build/
report/Report.aux
report/Report.bcf
report/Report.out
report/Report.fdb_latexmk
report/Report.fls
report/Report.log
report/Report.syntectex
report/Report.synctex.gz
report/Report.bbl
.DS_Store